* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* padding: 20px; */
}

/* Global variables --------------------------- */
:root {
  --color-background: #ffffff;
  --color-vertical-line: #af5f5f;
  --color-horizontal-line: blue;
  --color-postit-purple: #CE60F5;
  --color-postit-yellow: #FAFF15;
  --color-postit-win: #53D085;
  --color-postit-lose: #E45353;
  --color-postit-tie: #7995FA;
}

#home {
  width: 100%;
  height: 950px;
  position: relative;
  margin: 0;
  cursor: auto;
}

#home img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#selectKate {
  width: 230px;
  height: 120px;
  /* outline: 2px solid red; */
  position: absolute;
  top: 40%;
  left: 27%;
  transform: rotate(-23deg);
}

#selectEmily {
  /* outline: 1px solid red; */
  position: absolute;
  width: 200px;
  height: 100px;
  top: 26%;
  right: 34%;
  transform: rotate(-22deg);
}

#selectKate img {
  cursor: pointer;
}

#selectEmily img {
  cursor: pointer;
}

.notebookContainer {
  width: 100%;
  min-height: 1000px;
}

.header {
  width: 100%;
  min-height: 130px;
  /* outline: 3px solid green; */
  background-color: var(--color-background);
  background-image: 
      linear-gradient(90deg, transparent 79px, var(--color-vertical-line) 79px, var(--color-vertical-line) 81px, transparent 81px);
  background-position: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameTitle {
  width: 30%;
  height: 120px;
  transform: rotate(1deg);
  /* outline: 3px solid orange; */
}

.nameTitle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content {
  width: 100%;
  min-height: 880px;
  /* outline: 2px solid blue; */
  /* margin-bottom: 10%; */
  background-color: var(--color-background);
  background-image: 
      linear-gradient(90deg, transparent 79px, var(--color-vertical-line) 79px, var(--color-vertical-line) 81px, transparent 81px),
      linear-gradient(var(--color-horizontal-line) .1em, transparent .1em);
  background-size: 100% 2rem;
  background-position: 100px 0;
  display: flex;
}

.leftPanel {
  width: 20%;
  height: 830px;
  /* outline: 3px solid purple; */
  padding-top: 1%;
  padding-left: 4.5%;
  /* padding: auto; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.rightPanel {
  width: 80%;
  height: 830px;
  /* outline: 3px solid orangered; */
}

.panelHomePostIt {
  width: 200px;
  height: 15%;
  background-color: var(--color-postit-yellow);
  box-shadow: 0px 6px 8px rgba(33, 33, 33, .7);
  transform: rotate(-1deg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15%;
  /* transition: transform .15s linear; */
}

.panelViewAllPostIt {
  width: 200px;
  height: 15%;
  background-color: var(--color-postit-win);
  box-shadow: 0px 6px 8px rgba(33, 33, 33, .7);
  transform: rotate(-1deg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15%;
  /* transition: transform .15s linear; */
}

.panelYearsPostIt {
  width: 200px;
  height: 15%;
  background-color: var(--color-postit-purple);
  box-shadow: 0px 6px 8px rgba(33, 33, 33, .7);
  transform: rotate(-1deg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15%;
  /* transition: transform .15s linear; */
}

.panelDrawingsPostIt {
  width: 200px;
  height: 15%;
  background-color: var(--color-postit-tie);
  box-shadow: 0px 6px 8px rgba(33, 33, 33, .7);
  transform: rotate(-1deg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15%;
  /* transition: transform .15s linear; */
}

.panelPaintingsPostIt {
  width: 200px;
  height: 15%;
  background-color: var(--color-postit-win);
  box-shadow: 0px 6px 8px rgba(33, 33, 33, .7);
  transform: rotate(-1deg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15%;
  /* transition: transform .15s linear; */
}

.panelCraftsPostIt {
  width: 200px;
  height: 15%;
  background-color: var(--color-postit-lose);
  box-shadow: 0px 6px 8px rgba(33, 33, 33, .7);
  transform: rotate(-1deg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15%;
  /* transition: transform .15s linear; */
}

.subjectTitle {
  width: 100%;
  height: 180px;
  /* outline: 2px solid orangered; */
  display: flex;
  align-items: center;
  flex-wrap: nowrap , wrap , wrap-reverse;
}

.yearsTitleImg {
  width: 20%;
  height: 50%;
  margin-left: 26%;
}

.menuTitleImg {
  width: 40%;
  height: 50%;
  margin-left: 27%;
}

.drawingsTitleImg {
  width: 40%;
  height: 50%;
  margin-left: 28%;
}

.paintingsTitleImg {
  width: 40%;
  height: 45%;
  margin-left: 28%;
}

.craftsTitleImg {
  width: 35%;
  height: 45%;
  margin-left: 32%;
}

.sculpturesTitleImg {
  width: 40%;
  height: 45%;
  margin-left: 28%;
}

.subjectContent {
  /* outline: 2px solid black; */
  width: 100%;
  min-height: 650px;
  /* padding-top: 3%; */
  /* display: flex; */
  /* flex-direction: row; */
}

.modalPopup {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
  /* opacity: 50%; */
  z-index: 50;
  cursor: pointer;
  overflow-y: scroll;
}

.innerModalDiv {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 2rem; /* 32px */
  padding-right: 2rem; /* 32px */
  cursor: default;
  /* outline: 3px solid blue; */
}

.modalImg {
  /* outline: 3px solid red; */
}
.modalImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modalTextDiv {
  background-color: white;
  padding: 1rem;
}

.modalTextDiv h3 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font: bold;
  margin-bottom: 0.5rem; /* 8px */
}

.modalTextDiv p {
  margin-top: 1rem; /* 16px */
  margin-top: 1rem; /* 16px */
}